<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mv2studio.amarok.kontrol">

    <uses-feature android:name="android.hardware.type.watch" />

    <application
        android:name=".WearApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.DeviceDefault">
        <activity
            android:name=".ui.PlayNowWearActivity"
            android:allowEmbedded="true"
            android:exported="true"
            android:label="@string/app_name"
            android:taskAffinity="">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.ControlActivity"
            android:allowEmbedded="true"
            android:exported="true"
            android:launchMode="singleInstance"
            android:taskAffinity="" />

        <service android:name=".communication.DataLayerListenerService">
            <intent-filter>
                <action android:name="com.google.android.gms.wearable.BIND_LISTENER" />
            </intent-filter>
        </service>

        <receiver
            android:name=".communication.Commander$NotificationActionCommandReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.mv2studio.amarok.kontrol.play" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>

</manifest>
